<div class="footer">
    <div class="footer_logo">
        <div class="copyright">&copy; 2017. DigitalStack Inc. Tous drois réservés</div>
        <img src="/images/ds_logo_footer.png" alt="">
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/ds_js.js"></script>

</body>
</html>
