<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="digit,digital,digitalstack,digitals,digitalst,digitalsta,digitalstac,digital stacl,digistack,internet,web,web agency,development,programmation,php,nodejs,node js,javascript,typescript,language,agence,agence web,création,création de site,creation,creation de site,creer site,créer site,faire,faire un site,faire mon site,créer un site,créer,build,make a website,make,creer un site,achat,pas chers,abidjan,Côte d'Ivoire,vente en ligne,e-commerce,achat en ligne,e-commerce abidjan,moins chers,vente en ligne abidjan,achat en ligne abidjan ,vente en ligne côte d'ivoire,creer un site abidjan,creer un site cote d'ivoire,côte d'ivoire,babi,web babi,web abidjan,web afrique,site web,site web senegal,senegal,togo,burkina faso,mali,créer un réseau social,faire un réseau social,créer un e-commerce,boutique en ligne,e-commerce,ecommerce,developeur,freelance,freelance abidjan,jeune,technologie,langages site web,langage de programmation,abidjan web,web site abidjan">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Agence web digitale. Créateur de site web mordernes et robustes sur mesure. Des services dans la création de sites personnels, d'e-commerces et bien plus">
    <link rel="canonical" href="http://digitalstack.org/">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Digitalstack - Agence de création de sites modernes">
    <meta property="og:description" content="Agence web digitale. Créateur de site web mordernes et robustes sur mesure. Des services dans la création de sites personnels, d'e-commerces et bien plus">
    <meta property="og:url" content="http://digitalstack.org/">
    <meta property="og:site_name" content="DigitalStack">
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/digitalstack.org\/","name":"DigitalStack","potentialAction":{"@type":"SearchAction","target":"http:\/\/digitalstack.org\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <link rel="stylesheet" href="/styles/css/ds_style.css">
    <link rel="stylesheet" href="/styles/css/ds_animate.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <title>DigitalStack - <%= pageTitle %></title>
</head>
<body>

<div class="nav">
    <div class="logo_mini"></div>
    <div class="menu">
        <a href="/">Accueil</a>
        <a href="services">Services</a>
        <a href="contact">Soumettre un projet</a>
    </div>
    <div class="nav-button"><i class="fa fa-navicon"></i></div>
</div>
<div class="responsive-nav">
    <a href="/">Accueil</a>
    <a href="services">Services</a>
    <a href="contact">Soumettre un projet</a>
</div>