<% include partials/header.ejs %>

<div class="top">
    <div class="wrap wrap-center">
        <div class="logo logo-competency jackInTheBox animated"></div>
        <h2 class="zoomIn animated"></h2>
    </div>
    <div class="scroll_to">
        <img class="bounce animated" src="/images/btn_scroll.png" alt="">
    </div>
</div>

<div class="infos">
    <div class="show">
        <div class="grid">
            <div class="column small-12 medium-4 image"><img id="service-image" src="/images/ds_show_01.png" alt=""></div>
            <div class="column small-12 medium-8">
                <h3 id="service-title">E-COMMERCE / MARKETPLACE</h3>
                <p id="service-text">Nous proposons des services dans la création d'e-commerce ou de marketplace personnalisés.<br>
                Ce service comprend de base, un espace membre, une interface d'administration, un outil de recherche, un système de panier, l'installation
                de systèmes de paiement, un site adaptatif et un support en cas de problème</p>
                <a href="contact?service=ecm" class="button estimate">Demander un devis</a>
            </div>
        </div>

        <div class="grid">
            <div class="column small-12 medium-8">
                <h3 id="service-title">SOCIAL NETWORK / DATING</h3>
                <p id="service-text">Nous proposons également des services dans la création de réseaux sociaux ou site de rencontre<br>
        Ce service comprend de base, un espace membre, une interface d'administration, un outil de recherche, un site adaptatif
        et un support en cas de problème</p>
                <a href="contact?service=snd" class="button estimate">Demander un devis</a>
            </div>
            <div class="column small-12 medium-4 image"><img id="service-image" src="/images/ds_show_02.png" alt=""></div>
        </div>

        <div class="grid">
            <div class="column small-12 medium-4 image"><img id="service-image" src="/images/ds_show_03.png" alt=""></div>
            <div class="column small-12 medium-8">
                <h3 id="service-title">WEB PORTAL</h3>
                <p id="service-text">Nous proposons aussi la création de portails web <br>
                    Ce service comprend de base, un espace membre, un espace blog, des pages personnalisées, une interface d'administration, un site adaptatif</p>
                <a href="contact?service=wp" class="button estimate">Demander un devis</a>
            </div>
        </div>

        <div class="grid">
            <div class="column small-12 medium-8">
                <h3 id="service-title">PERSONAL BLOG</h3>
                <p id="service-text">Enfin, nous vous proposons la création d'un blog personnel <br>
                Ce service comprend de base, une interface administration, un site adaptatif</p>
                <a href="contact?service=pb" class="button estimate">Demander un devis</a>
            </div>
            <div class="column small-12 medium-4 image"><img id="service-image" src="/images/ds_show_04.png" alt=""></div>
        </div>
    </div>
    <div class="technologies">
        <h2><strong>Technologies</strong> utilisées:</h2>
        <div>
            <div>
                <img src="/images/ds_technologies.png" alt="">
            </div>
        </div>
    </div>
    <div class="whyus">
        <h2>Pourquoi nous <strong>choisir</strong> ?:</h2>
        <p>
            De nos jours internet nous donne la possibilité de la création facile en nous ouvrant l'accès à des outils pour.
            <br>
            Mais ces outils qui ont des avantages conséquents, présentent aussi des défauts qu'il ne faut pas négliger. Faire de votre site web
            exactement ce que vous voulez peu être de défi, même lorsque la conception est confiée à une tierce personne plus professionnelle. Les CMS (Content Managing System)
            ont pour la plus-part des défauts d'optimisation (Ils contiennent beaucoup de codes génériques et sont conçu avec une technologie peu adaptée et de moins en moins utilisée)
            ce que les rend plus lents. Ils sont aussi conçu pour propulser des sites moyens et sont donc moins flexibles.
            Les outils de création d'e-commerce quant à eux sont tout aussi limités et reviennent très chers à la longue.
            Si vous avez envie d'un site moderne, rapide, flexible, développé spécialement pour chaque client, utilisant des technologies modernes, nous sommes la solution.
        </p>
    </div>
</div>

<% include partials/footer.ejs %>