<% include partials/header.ejs %>

<div class="top">
    <div class="wrap wrap-center">
        <div class="logo bounce animated"></div>
        <h2 class="zoomIn animated">Créateur de projets modernes</h2>
    </div>
    <div class="scroll_to">
        <img class="bounce animated" src="/images/btn_scroll.png" alt="">
    </div>
</div>
<div class="infos">
    <div class="grid">
        <div class="column small-12 medium-6">
            <img src="/images/ds_infos_01.png" alt="">
        </div>
        <div class="column small-12 medium-6 text text-center">
            <h1>Des applications qui vous <strong>ressemblent</strong></h1>
            <p>
                DigitalStack est à l'écoute de toutes vos préoccupations. Vous avez une idée en tête ?
                Nous la réalisons en suivant toutes vos directives de sorte à obtenir un rendu qui vous convient et qui soit à votre image.
            </p>
        </div>
    </div>
    <div class="grid">
        <div class="column small-12 medium-6 text text-center">
            <h1>Des fonctionnalités <strong>sur-mesure</strong></h1>
            <p>
                Comme chaque projet est unique, DigitalStack s'engage à produire des applications propres à chaque client.
                Nous sommes dans l'optique de développer des solutions et fonctionnalités spéciales pour chaque projet au delà des limites
                imposées par l'utilisation de CMS comme Wordpress ou Drupal.
            </p>
        </div>
        <div class="column small-12 medium-6">
            <img src="/images/ds_infos_02.png" alt="">
        </div>
    </div>
    <div class="grid">
        <div class="column small-12 medium-6">
            <img src="/images/ds_infos_03.png" alt="">
        </div>
        <div class="column small-12 medium-6 text text-center">
            <h1>Une technologie <strong>ultra-rapide</strong> et <strong>moderne</strong></h1>
            <p>
                Le JavaScript est une technologie tendance que de nombreuses entreprises décident d'adopter en production (Netflix, Paypal, Ebay, LinkedIn, NASA..).
                Il est particulièrement prisé dans les applications en temps-réel ou qui cherchent une solution rapide et évolutive.
                Il présente de nombreux avantages par rapport à d'autres technologies et présente d'innombrables possibilités de développement.
            </p>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>