<% include partials/header.ejs %>

<div class="top">
    <div class="wrap wrap-center">
        <div class="logo logo-prices jackInTheBox animated"></div>
        <h2 class="zoomIn animated"></h2>
    </div>
    <div class="scroll_to">
        <img class="bounce animated" src="/images/btn_scroll.png" alt="">
    </div>
</div>

<% include partials/footer.ejs %>